{% extends "base.html" %}
{% block content %}
<head>
 <meta charset="utf-8"/>
 <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
 <title>
  Аудиоплеер
 </title>
 <link rel="stylesheet" href="{{ url_for('static', filename='audio.css') }}">
</head>
<h1 id="title">
 {{ name }}
</h1>
<h2 id="number">
 Часть 1
</h2>
<audio controls="" id="audioPlayer" src="{{ files[0]['url'] }}">
</audio>
<div id="controls">
 <button onclick="skip(-15)">
  -15 сек
 </button>
 <button onclick="skip(15)">
  +15 сек
 </button>
 <button onclick="changeSpeed(1)">
  1x
 </button>
 <button onclick="changeSpeed(2)">
  2x
 </button>
</div>
<div id="playlist">
 {% for i in range(n) %}
 <button class="track" name="{{ files[i]['url'] }}" onclick="changeTrack('{{ files[i]['url'] }}', 'Часть {{ i + 1 }}', {{ i }})">
  Часть {{ i + 1 }}
 </button>
 {% endfor %}
</div>
<script src="{{ url_for('static', filename='audio.js') }}">
</script>
{% endblock %}
