{% extends "base.html" %}
{% block content %}
<head>
 <meta charset="utf-8"/>
 <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
 <title>
  Аудиоплеер
 </title>
 <link href="audio.css" rel="stylesheet"/>
</head>
<h1 id="title">
 Двадцать тысяч лье под водой
</h1>
<h2 id="number">
 Часть 1
</h2>
<audio controls="" id="audioPlayer" src="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-01-01.mp3?1">
</audio>
<div id="playlist">
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-01-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-01-01.mp3?1', 'Часть 1', 0)">
  Часть 1
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-01-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-01-02.mp3?1', 'Часть 2', 1)">
  Часть 2
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-01-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-01-03.mp3?1', 'Часть 3', 2)">
  Часть 3
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-01-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-01-04.mp3?1', 'Часть 4', 3)">
  Часть 4
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-02-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-02-01.mp3?1', 'Часть 5', 4)">
  Часть 5
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-02-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-02-02.mp3?1', 'Часть 6', 5)">
  Часть 6
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-02-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-02-03.mp3?1', 'Часть 7', 6)">
  Часть 7
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-03-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-03-01.mp3?1', 'Часть 8', 7)">
  Часть 8
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-03-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-03-02.mp3?1', 'Часть 9', 8)">
  Часть 9
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-03-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-03-03.mp3?1', 'Часть 10', 9)">
  Часть 10
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-04-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-04-01.mp3?1', 'Часть 11', 10)">
  Часть 11
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-04-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-04-02.mp3?1', 'Часть 12', 11)">
  Часть 12
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-04-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-04-03.mp3?1', 'Часть 13', 12)">
  Часть 13
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-04-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-04-04.mp3?1', 'Часть 14', 13)">
  Часть 14
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-05-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-05-01.mp3?1', 'Часть 15', 14)">
  Часть 15
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-05-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-05-02.mp3?1', 'Часть 16', 15)">
  Часть 16
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-05-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-05-03.mp3?1', 'Часть 17', 16)">
  Часть 17
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-06-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-06-01.mp3?1', 'Часть 18', 17)">
  Часть 18
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-06-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-06-02.mp3?1', 'Часть 19', 18)">
  Часть 19
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-06-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-06-03.mp3?1', 'Часть 20', 19)">
  Часть 20
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-06-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-06-04.mp3?1', 'Часть 21', 20)">
  Часть 21
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-06-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-06-05.mp3?1', 'Часть 22', 21)">
  Часть 22
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-07-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-07-01.mp3?1', 'Часть 23', 22)">
  Часть 23
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-07-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-07-02.mp3?1', 'Часть 24', 23)">
  Часть 24
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-07-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-07-03.mp3?1', 'Часть 25', 24)">
  Часть 25
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-07-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-07-04.mp3?1', 'Часть 26', 25)">
  Часть 26
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-08-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-08-01.mp3?1', 'Часть 27', 26)">
  Часть 27
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-08-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-08-02.mp3?1', 'Часть 28', 27)">
  Часть 28
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-08-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-08-03.mp3?1', 'Часть 29', 28)">
  Часть 29
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-08-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-08-04.mp3?1', 'Часть 30', 29)">
  Часть 30
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-09-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-09-01.mp3?1', 'Часть 31', 30)">
  Часть 31
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-09-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-09-02.mp3?1', 'Часть 32', 31)">
  Часть 32
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-09-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-09-03.mp3?1', 'Часть 33', 32)">
  Часть 33
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-09-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-09-04.mp3?1', 'Часть 34', 33)">
  Часть 34
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-10-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-10-01.mp3?1', 'Часть 35', 34)">
  Часть 35
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-10-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-10-02.mp3?1', 'Часть 36', 35)">
  Часть 36
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-10-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-10-03.mp3?1', 'Часть 37', 36)">
  Часть 37
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-10-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-10-04.mp3?1', 'Часть 38', 37)">
  Часть 38
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-10-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-10-05.mp3?1', 'Часть 39', 38)">
  Часть 39
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-12-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-12-01.mp3?1', 'Часть 40', 39)">
  Часть 40
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-12-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-12-02.mp3?1', 'Часть 41', 40)">
  Часть 41
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-12-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-12-03.mp3?1', 'Часть 42', 41)">
  Часть 42
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-12-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-12-04.mp3?1', 'Часть 43', 42)">
  Часть 43
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-13-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-13-01.mp3?1', 'Часть 44', 43)">
  Часть 44
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-13-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-13-02.mp3?1', 'Часть 45', 44)">
  Часть 45
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-13-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-13-03.mp3?1', 'Часть 46', 45)">
  Часть 46
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-13-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-13-04.mp3?1', 'Часть 47', 46)">
  Часть 47
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-14-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-14-01.mp3?1', 'Часть 48', 47)">
  Часть 48
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-14-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-14-02.mp3?1', 'Часть 49', 48)">
  Часть 49
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-14-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-14-03.mp3?1', 'Часть 50', 49)">
  Часть 50
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-14-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-14-04.mp3?1', 'Часть 51', 50)">
  Часть 51
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-14-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-14-05.mp3?1', 'Часть 52', 51)">
  Часть 52
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-14-06.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-14-06.mp3?1', 'Часть 53', 52)">
  Часть 53
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-15-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-15-01.mp3?1', 'Часть 54', 53)">
  Часть 54
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-15-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-15-02.mp3?1', 'Часть 55', 54)">
  Часть 55
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-15-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-15-03.mp3?1', 'Часть 56', 55)">
  Часть 56
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-15-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-15-04.mp3?1', 'Часть 57', 56)">
  Часть 57
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-16-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-16-01.mp3?1', 'Часть 58', 57)">
  Часть 58
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-16-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-16-02.mp3?1', 'Часть 59', 58)">
  Часть 59
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-16-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-16-03.mp3?1', 'Часть 60', 59)">
  Часть 60
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-17-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-17-01.mp3?1', 'Часть 61', 60)">
  Часть 61
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-17-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-17-02.mp3?1', 'Часть 62', 61)">
  Часть 62
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-17-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-17-03.mp3?1', 'Часть 63', 62)">
  Часть 63
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-17-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-17-04.mp3?1', 'Часть 64', 63)">
  Часть 64
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-18-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-18-01.mp3?1', 'Часть 65', 64)">
  Часть 65
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-18-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-18-02.mp3?1', 'Часть 66', 65)">
  Часть 66
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-18-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-18-03.mp3?1', 'Часть 67', 66)">
  Часть 67
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-18-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-18-04.mp3?1', 'Часть 68', 67)">
  Часть 68
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-19-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-19-01.mp3?1', 'Часть 69', 68)">
  Часть 69
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-19-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-19-02.mp3?1', 'Часть 70', 69)">
  Часть 70
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-19-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-19-03.mp3?1', 'Часть 71', 70)">
  Часть 71
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-19-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-19-04.mp3?1', 'Часть 72', 71)">
  Часть 72
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-19-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-19-05.mp3?1', 'Часть 73', 72)">
  Часть 73
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-19-06.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-19-06.mp3?1', 'Часть 74', 73)">
  Часть 74
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-20-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-20-01.mp3?1', 'Часть 75', 74)">
  Часть 75
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-20-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-20-02.mp3?1', 'Часть 76', 75)">
  Часть 76
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-20-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-20-03.mp3?1', 'Часть 77', 76)">
  Часть 77
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-20-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-20-04.mp3?1', 'Часть 78', 77)">
  Часть 78
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-20-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-20-05.mp3?1', 'Часть 79', 78)">
  Часть 79
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-21-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-21-01.mp3?1', 'Часть 80', 79)">
  Часть 80
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-21-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-21-02.mp3?1', 'Часть 81', 80)">
  Часть 81
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-21-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-21-03.mp3?1', 'Часть 82', 81)">
  Часть 82
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-21-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-21-04.mp3?1', 'Часть 83', 82)">
  Часть 83
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-21-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-21-05.mp3?1', 'Часть 84', 83)">
  Часть 84
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-21-06.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-21-06.mp3?1', 'Часть 85', 84)">
  Часть 85
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-22-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-22-01.mp3?1', 'Часть 86', 85)">
  Часть 86
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-22-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-22-02.mp3?1', 'Часть 87', 86)">
  Часть 87
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-22-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-22-03.mp3?1', 'Часть 88', 87)">
  Часть 88
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-22-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-22-04.mp3?1', 'Часть 89', 88)">
  Часть 89
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-22-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-22-05.mp3?1', 'Часть 90', 89)">
  Часть 90
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-23-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-23-01.mp3?1', 'Часть 91', 90)">
  Часть 91
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-23-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-23-02.mp3?1', 'Часть 92', 91)">
  Часть 92
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-23-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-23-03.mp3?1', 'Часть 93', 92)">
  Часть 93
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-23-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-23-04.mp3?1', 'Часть 94', 93)">
  Часть 94
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-23-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-23-05.mp3?1', 'Часть 95', 94)">
  Часть 95
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-24-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-24-01.mp3?1', 'Часть 96', 95)">
  Часть 96
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-24-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-24-02.mp3?1', 'Часть 97', 96)">
  Часть 97
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-24-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-24-03.mp3?1', 'Часть 98', 97)">
  Часть 98
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-24-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-24-04.mp3?1', 'Часть 99', 98)">
  Часть 99
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-24-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/01-24-05.mp3?1', 'Часть 100', 99)">
  Часть 100
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-01-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-01-01.mp3?1', 'Часть 101', 100)">
  Часть 101
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-01-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-01-02.mp3?1', 'Часть 102', 101)">
  Часть 102
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-01-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-01-03.mp3?1', 'Часть 103', 102)">
  Часть 103
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-01-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-01-04.mp3?1', 'Часть 104', 103)">
  Часть 104
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-01-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-01-05.mp3?1', 'Часть 105', 104)">
  Часть 105
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-01-06.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-01-06.mp3?1', 'Часть 106', 105)">
  Часть 106
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-02-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-02-01.mp3?1', 'Часть 107', 106)">
  Часть 107
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-02-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-02-02.mp3?1', 'Часть 108', 107)">
  Часть 108
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-02-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-02-03.mp3?1', 'Часть 109', 108)">
  Часть 109
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-02-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-02-04.mp3?1', 'Часть 110', 109)">
  Часть 110
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-02-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-02-05.mp3?1', 'Часть 111', 110)">
  Часть 111
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-02-06.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-02-06.mp3?1', 'Часть 112', 111)">
  Часть 112
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-03-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-03-01.mp3?1', 'Часть 113', 112)">
  Часть 113
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-03-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-03-02.mp3?1', 'Часть 114', 113)">
  Часть 114
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-03-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-03-03.mp3?1', 'Часть 115', 114)">
  Часть 115
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-03-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-03-04.mp3?1', 'Часть 116', 115)">
  Часть 116
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-03-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-03-05.mp3?1', 'Часть 117', 116)">
  Часть 117
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-03-06.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-03-06.mp3?1', 'Часть 118', 117)">
  Часть 118
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-04-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-04-01.mp3?1', 'Часть 119', 118)">
  Часть 119
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-04-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-04-02.mp3?1', 'Часть 120', 119)">
  Часть 120
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-04-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-04-03.mp3?1', 'Часть 121', 120)">
  Часть 121
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-04-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-04-04.mp3?1', 'Часть 122', 121)">
  Часть 122
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-04-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-04-05.mp3?1', 'Часть 123', 122)">
  Часть 123
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-04-06.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-04-06.mp3?1', 'Часть 124', 123)">
  Часть 124
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-04-07.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-04-07.mp3?1', 'Часть 125', 124)">
  Часть 125
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-05-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-05-01.mp3?1', 'Часть 126', 125)">
  Часть 126
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-05-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-05-02.mp3?1', 'Часть 127', 126)">
  Часть 127
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-05-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-05-03.mp3?1', 'Часть 128', 127)">
  Часть 128
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-05-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-05-04.mp3?1', 'Часть 129', 128)">
  Часть 129
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-05-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-05-05.mp3?1', 'Часть 130', 129)">
  Часть 130
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-06-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-06-01.mp3?1', 'Часть 131', 130)">
  Часть 131
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-06-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-06-02.mp3?1', 'Часть 132', 131)">
  Часть 132
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-06-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-06-03.mp3?1', 'Часть 133', 132)">
  Часть 133
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-06-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-06-04.mp3?1', 'Часть 134', 133)">
  Часть 134
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-06-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-06-05.mp3?1', 'Часть 135', 134)">
  Часть 135
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-06-06.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-06-06.mp3?1', 'Часть 136', 135)">
  Часть 136
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-07-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-07-01.mp3?1', 'Часть 137', 136)">
  Часть 137
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-07-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-07-02.mp3?1', 'Часть 138', 137)">
  Часть 138
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-07-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-07-03.mp3?1', 'Часть 139', 138)">
  Часть 139
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-07-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-07-04.mp3?1', 'Часть 140', 139)">
  Часть 140
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-07-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-07-05.mp3?1', 'Часть 141', 140)">
  Часть 141
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-07-06.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-07-06.mp3?1', 'Часть 142', 141)">
  Часть 142
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-08-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-08-01.mp3?1', 'Часть 143', 142)">
  Часть 143
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-08-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-08-02.mp3?1', 'Часть 144', 143)">
  Часть 144
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-08-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-08-03.mp3?1', 'Часть 145', 144)">
  Часть 145
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-08-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-08-04.mp3?1', 'Часть 146', 145)">
  Часть 146
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-08-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-08-05.mp3?1', 'Часть 147', 146)">
  Часть 147
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-08-06.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-08-06.mp3?1', 'Часть 148', 147)">
  Часть 148
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-09-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-09-01.mp3?1', 'Часть 149', 148)">
  Часть 149
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-09-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-09-02.mp3?1', 'Часть 150', 149)">
  Часть 150
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-09-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-09-03.mp3?1', 'Часть 151', 150)">
  Часть 151
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-09-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-09-04.mp3?1', 'Часть 152', 151)">
  Часть 152
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-09-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-09-05.mp3?1', 'Часть 153', 152)">
  Часть 153
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-10-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-10-01.mp3?1', 'Часть 154', 153)">
  Часть 154
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-10-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-10-02.mp3?1', 'Часть 155', 154)">
  Часть 155
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-10-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-10-03.mp3?1', 'Часть 156', 155)">
  Часть 156
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-10-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-10-04.mp3?1', 'Часть 157', 156)">
  Часть 157
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-10-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-10-05.mp3?1', 'Часть 158', 157)">
  Часть 158
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-11-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-11-01.mp3?1', 'Часть 159', 158)">
  Часть 159
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-11-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-11-02.mp3?1', 'Часть 160', 159)">
  Часть 160
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-11-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-11-03.mp3?1', 'Часть 161', 160)">
  Часть 161
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-11-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-11-04.mp3?1', 'Часть 162', 161)">
  Часть 162
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-11-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-11-05.mp3?1', 'Часть 163', 162)">
  Часть 163
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-12-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-12-01.mp3?1', 'Часть 164', 163)">
  Часть 164
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-12-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-12-02.mp3?1', 'Часть 165', 164)">
  Часть 165
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-12-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-12-03.mp3?1', 'Часть 166', 165)">
  Часть 166
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-12-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-12-04.mp3?1', 'Часть 167', 166)">
  Часть 167
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-12-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-12-05.mp3?1', 'Часть 168', 167)">
  Часть 168
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-12-06.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-12-06.mp3?1', 'Часть 169', 168)">
  Часть 169
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-13-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-13-01.mp3?1', 'Часть 170', 169)">
  Часть 170
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-13-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-13-02.mp3?1', 'Часть 171', 170)">
  Часть 171
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-13-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-13-03.mp3?1', 'Часть 172', 171)">
  Часть 172
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-13-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-13-04.mp3?1', 'Часть 173', 172)">
  Часть 173
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-13-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-13-05.mp3?1', 'Часть 174', 173)">
  Часть 174
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-13-06.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-13-06.mp3?1', 'Часть 175', 174)">
  Часть 175
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-14-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-14-01.mp3?1', 'Часть 176', 175)">
  Часть 176
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-14-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-14-02.mp3?1', 'Часть 177', 176)">
  Часть 177
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-14-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-14-03.mp3?1', 'Часть 178', 177)">
  Часть 178
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-14-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-14-04.mp3?1', 'Часть 179', 178)">
  Часть 179
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-14-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-14-05.mp3?1', 'Часть 180', 179)">
  Часть 180
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-14-06.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-14-06.mp3?1', 'Часть 181', 180)">
  Часть 181
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-14-07.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-14-07.mp3?1', 'Часть 182', 181)">
  Часть 182
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-15-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-15-01.mp3?1', 'Часть 183', 182)">
  Часть 183
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-15-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-15-02.mp3?1', 'Часть 184', 183)">
  Часть 184
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-15-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-15-03.mp3?1', 'Часть 185', 184)">
  Часть 185
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-15-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-15-04.mp3?1', 'Часть 186', 185)">
  Часть 186
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-16-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-16-01.mp3?1', 'Часть 187', 186)">
  Часть 187
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-16-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-16-02.mp3?1', 'Часть 188', 187)">
  Часть 188
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-16-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-16-03.mp3?1', 'Часть 189', 188)">
  Часть 189
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-16-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-16-04.mp3?1', 'Часть 190', 189)">
  Часть 190
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-16-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-16-05.mp3?1', 'Часть 191', 190)">
  Часть 191
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-17-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-17-01.mp3?1', 'Часть 192', 191)">
  Часть 192
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-17-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-17-02.mp3?1', 'Часть 193', 192)">
  Часть 193
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-17-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-17-03.mp3?1', 'Часть 194', 193)">
  Часть 194
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-17-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-17-04.mp3?1', 'Часть 195', 194)">
  Часть 195
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-17-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-17-05.mp3?1', 'Часть 196', 195)">
  Часть 196
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-17-06.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-17-06.mp3?1', 'Часть 197', 196)">
  Часть 197
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-18-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-18-01.mp3?1', 'Часть 198', 197)">
  Часть 198
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-18-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-18-02.mp3?1', 'Часть 199', 198)">
  Часть 199
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-18-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-18-03.mp3?1', 'Часть 200', 199)">
  Часть 200
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-18-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-18-04.mp3?1', 'Часть 201', 200)">
  Часть 201
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-18-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-18-05.mp3?1', 'Часть 202', 201)">
  Часть 202
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-19-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-19-01.mp3?1', 'Часть 203', 202)">
  Часть 203
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-19-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-19-02.mp3?1', 'Часть 204', 203)">
  Часть 204
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-19-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-19-03.mp3?1', 'Часть 205', 204)">
  Часть 205
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-19-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-19-04.mp3?1', 'Часть 206', 205)">
  Часть 206
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-19-05.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-19-05.mp3?1', 'Часть 207', 206)">
  Часть 207
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-19-06.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-19-06.mp3?1', 'Часть 208', 207)">
  Часть 208
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-20-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-20-01.mp3?1', 'Часть 209', 208)">
  Часть 209
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-20-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-20-02.mp3?1', 'Часть 210', 209)">
  Часть 210
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-20-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-20-03.mp3?1', 'Часть 211', 210)">
  Часть 211
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-20-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-20-04.mp3?1', 'Часть 212', 211)">
  Часть 212
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-21-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-21-01.mp3?1', 'Часть 213', 212)">
  Часть 213
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-21-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-21-02.mp3?1', 'Часть 214', 213)">
  Часть 214
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-21-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-21-03.mp3?1', 'Часть 215', 214)">
  Часть 215
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-21-04.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-21-04.mp3?1', 'Часть 216', 215)">
  Часть 216
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-22-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-22-01.mp3?1', 'Часть 217', 216)">
  Часть 217
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-22-02.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-22-02.mp3?1', 'Часть 218', 217)">
  Часть 218
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-22-03.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-22-03.mp3?1', 'Часть 219', 218)">
  Часть 219
 </button>
 <button class="track" name="https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-23-01.mp3?1" onclick="changeTrack('https:\/\/s7.knigavuhe.org\/1\/audio\/1143\/02-23-01.mp3?1', 'Часть 220', 219)">
  Часть 220
 </button>
</div>
<div id="controls">
 <button onclick="skip(-15)">
  -15 сек
 </button>
 <button onclick="skip(15)">
  +15 сек
 </button>
 <button onclick="changeSpeed(1)">
  1x
 </button>
 <button onclick="changeSpeed(2)">
  2x
 </button>
</div>
<script src="audio.js">
</script>
{% endblock %}
