{% extends "base.html" %}
{% block content %}
<head>
 <meta charset="utf-8"/>
 <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
 <title>
  Аудиоплеер
 </title>
 <link href="audio.css" rel="stylesheet"/>
</head>
<h1 id="title">
 Евгений онегин
</h1>
<h2 id="number">
 Часть 1
</h2>
<audio controls="" id="audioPlayer" src="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-01-00.mp3?1">
</audio>
<div id="playlist">
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-01-00.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-01-00.mp3?1', 'Часть 1', 0)">
  Часть 1
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-01-01.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-01-01.mp3?1', 'Часть 2', 1)">
  Часть 2
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-01-02.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-01-02.mp3?1', 'Часть 3', 2)">
  Часть 3
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-01-03.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-01-03.mp3?1', 'Часть 4', 3)">
  Часть 4
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-01-04.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-01-04.mp3?1', 'Часть 5', 4)">
  Часть 5
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-01-05.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-01-05.mp3?1', 'Часть 6', 5)">
  Часть 6
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-01-06.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-01-06.mp3?1', 'Часть 7', 6)">
  Часть 7
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-02-01.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-02-01.mp3?1', 'Часть 8', 7)">
  Часть 8
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-02-02.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-02-02.mp3?1', 'Часть 9', 8)">
  Часть 9
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-02-03.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-02-03.mp3?1', 'Часть 10', 9)">
  Часть 10
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-02-04.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-02-04.mp3?1', 'Часть 11', 10)">
  Часть 11
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-02-05.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-02-05.mp3?1', 'Часть 12', 11)">
  Часть 12
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-02-06.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-02-06.mp3?1', 'Часть 13', 12)">
  Часть 13
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-02-07.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-02-07.mp3?1', 'Часть 14', 13)">
  Часть 14
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-03-01.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-03-01.mp3?1', 'Часть 15', 14)">
  Часть 15
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-03-02.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-03-02.mp3?1', 'Часть 16', 15)">
  Часть 16
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-03-03.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-03-03.mp3?1', 'Часть 17', 16)">
  Часть 17
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-03-04.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-03-04.mp3?1', 'Часть 18', 17)">
  Часть 18
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-03-05.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-03-05.mp3?1', 'Часть 19', 18)">
  Часть 19
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-03-06.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-03-06.mp3?1', 'Часть 20', 19)">
  Часть 20
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-03-07.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-03-07.mp3?1', 'Часть 21', 20)">
  Часть 21
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-03-08.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-03-08.mp3?1', 'Часть 22', 21)">
  Часть 22
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-04-01.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-04-01.mp3?1', 'Часть 23', 22)">
  Часть 23
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-04-02.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-04-02.mp3?1', 'Часть 24', 23)">
  Часть 24
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-04-03.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-04-03.mp3?1', 'Часть 25', 24)">
  Часть 25
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-04-04.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-04-04.mp3?1', 'Часть 26', 25)">
  Часть 26
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-04-05.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-04-05.mp3?1', 'Часть 27', 26)">
  Часть 27
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-04-06.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-04-06.mp3?1', 'Часть 28', 27)">
  Часть 28
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-04-07.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-04-07.mp3?1', 'Часть 29', 28)">
  Часть 29
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-04-08.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-04-08.mp3?1', 'Часть 30', 29)">
  Часть 30
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-05-01.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-05-01.mp3?1', 'Часть 31', 30)">
  Часть 31
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-05-02.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-05-02.mp3?1', 'Часть 32', 31)">
  Часть 32
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-05-03.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-05-03.mp3?1', 'Часть 33', 32)">
  Часть 33
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-05-04.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-05-04.mp3?1', 'Часть 34', 33)">
  Часть 34
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-05-05.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-05-05.mp3?1', 'Часть 35', 34)">
  Часть 35
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-05-06.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-05-06.mp3?1', 'Часть 36', 35)">
  Часть 36
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-06-01.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-06-01.mp3?1', 'Часть 37', 36)">
  Часть 37
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-06-02.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-06-02.mp3?1', 'Часть 38', 37)">
  Часть 38
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-06-03.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-06-03.mp3?1', 'Часть 39', 38)">
  Часть 39
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-06-04.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-06-04.mp3?1', 'Часть 40', 39)">
  Часть 40
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-06-05.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-06-05.mp3?1', 'Часть 41', 40)">
  Часть 41
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-07-01.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-07-01.mp3?1', 'Часть 42', 41)">
  Часть 42
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-07-02.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-07-02.mp3?1', 'Часть 43', 42)">
  Часть 43
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-07-03.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-07-03.mp3?1', 'Часть 44', 43)">
  Часть 44
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-07-04.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-07-04.mp3?1', 'Часть 45', 44)">
  Часть 45
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-07-05.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-07-05.mp3?1', 'Часть 46', 45)">
  Часть 46
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-07-06.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-07-06.mp3?1', 'Часть 47', 46)">
  Часть 47
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-07-07.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-07-07.mp3?1', 'Часть 48', 47)">
  Часть 48
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-07-08.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-07-08.mp3?1', 'Часть 49', 48)">
  Часть 49
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-08-01.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-08-01.mp3?1', 'Часть 50', 49)">
  Часть 50
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-08-02.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-08-02.mp3?1', 'Часть 51', 50)">
  Часть 51
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-08-03.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-08-03.mp3?1', 'Часть 52', 51)">
  Часть 52
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-08-04.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-08-04.mp3?1', 'Часть 53', 52)">
  Часть 53
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-09-01.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-09-01.mp3?1', 'Часть 54', 53)">
  Часть 54
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-09-02.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-09-02.mp3?1', 'Часть 55', 54)">
  Часть 55
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-09-03.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-09-03.mp3?1', 'Часть 56', 55)">
  Часть 56
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-09-04.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-09-04.mp3?1', 'Часть 57', 56)">
  Часть 57
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-09-05.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-09-05.mp3?1', 'Часть 58', 57)">
  Часть 58
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-09-06.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-09-06.mp3?1', 'Часть 59', 58)">
  Часть 59
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-09-07.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-09-07.mp3?1', 'Часть 60', 59)">
  Часть 60
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-09-08.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-09-08.mp3?1', 'Часть 61', 60)">
  Часть 61
 </button>
 <button class="track" name="https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-09-09.mp3?1" onclick="changeTrack('https:\/\/s9.knigavuhe.org\/2\/audio\/3091\/evgeniy-onegin-09-09.mp3?1', 'Часть 62', 61)">
  Часть 62
 </button>
</div>
<div id="controls">
 <button onclick="skip(-15)">
  -15 сек
 </button>
 <button onclick="skip(15)">
  +15 сек
 </button>
 <button onclick="changeSpeed(1)">
  1x
 </button>
 <button onclick="changeSpeed(2)">
  2x
 </button>
</div>
<script src="audio.js">
</script>
{% endblock %}
